<h3><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>About</h3>
<hr>
<p>
  This is just a simple demo app for getting used to <a target="_blank" href="http://emberjs.com">Ember.js</a>.
</p>
<p>To Start, you can {{link-to 'Login' 'login'}} or {{link-to 'Sign up' 'users.new'}} if you are a new user.</p>
<p>Matt</p>