{{partial "partials/header"}}
<div class="row">
    {{ember-notify messageStyle='bootstrap'}}
</div>
<div class="container-fluid">
    {{outlet}}
</div>
<footer>
    <p><small>Demo App to get used to <a target="_blank" href="http://www.emberjs.com" >Ember.js</a>.</small></p>
    <p><small>Matt Wu</small></p>
</footer>